<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="ScraperLinkedInDBEntities" connectionString="metadata=res://*/Database.ScraperLinkedInDBModel.csdl|res://*/Database.ScraperLinkedInDBModel.ssdl|res://*/Database.ScraperLinkedInDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;     Data Source=(local); Initial Catalog=ScraperLinkedInDB; User ID=sa; Password=daynight1983; Integrated Security=False; Connect Timeout=90; MultipleActiveResultSets=True; App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>

    <!-- hh:mm:ss AM/PM -->
    <add key="TIME_START" value="01:47:00 PM" />

    <!-- Day/Hour/ -->
    <add key="INTERVAL_TYPE" value="Day" />

    <!-- Count days/hours -->
    <add key="INTERVAL" value="1" />

    <!-- Enter session cookie (li_at) with your LinkedIn -->
    <add key="TOKEN" value="AQEDAQEPdHoEmIJNAAABbSmpmNAAAAFtTbYc0E0AE4nP798VCfGiBoaT_5zXOdT4MKtXXbH6R9FCHvwjJTBm4Sz20_HDHrQ5KkwIxVT3bs1mJIMbHLYNlmLoyDoJq1qh0oWTNepdSG5BHxl4A86wZLV6" />

    <!-- Company batch size -->
    <add key="COMPANY_BATCH_SIZE" value="3" />

    <!-- Profile batch size (max 500)-->
    <add key="PROFILE_BATCH_SIZE" value="100" />

    <!-- Login LinkedIn -->
    <add key="LOGIN" value="test" />

    <!-- Password LinkedIn  -->
    <add key="PASSWORD" value="test" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>